body {
    margin: 4em;
    font-family: 'Alef', sans-serif;
  }
  h1, p {
    margin-top: 2em;
  }
  * {
    transition: 0.2s;
  }
  
  .list {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
  }
  .theme-1 .item,
  .theme-1-2 .item{
    display: inline-block;
    margin: 5px 1px;
    background: #1abc9c;
    box-shadow: 0 3px 0 #16a085;
    border-radius:3px;
  }
  .theme-1 a,
  .theme-1-2 a{
    display: block;
    padding: 10px 15px;
    color: #FFF;
    text-decoration: none;
  }
  
  /* case 1 */
  .list.theme-1:hover .item:not(:hover) {
    opacity: 0.5;
  }
  
  